/*Styling i landingPage er kodet av Amalie, med litt småplukk kode fra Polly*/

/* Fargepallet - kodet av Tiril */
:root {
    /* LIGHT MODE */
    /* Main colors */
    --mainLightBackground: #f0fff0;
    --mainOrange: #fb5607;
    --dropMenu: #808080;
    --textWhite: #ffffff;
    --mainBlack: #222222;
    --footer: #333333;
    /* Produkt oversikt */
    --cardBackground: #f2f2f2;
    /* Produkt side */
    --boxBackground: #d4d4d4;
    --buttonShadow: 0 10px 20px -8px #000000;
    /* Splash text shadow*/
    --splashTextShadow: 0 0px 5px #FFF, 0 2px 10px #ff0, 0 10px 20px #ff8000, 0 18px 40px #F00;
  }
  
  body {
      margin: 0;
      max-height: 100vh;
      font-family: Arial, sans-serif;
      background-color: var(--mainLightBackground);
      transition: .4s;
  }
  
  main {
    margin-bottom: 30px;
  }
  
  /* HEADER */
  .navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--mainOrange);
    color: var(--textWhite);
  }
  
  .header-icon {
    margin-right: 10px;
  }
  
  .header-icon .imgLogo {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    /* border-radius: 50%; */
    /* background-color: #fb5607; */
  }
  
  /*Mini justering av logo i header - Polly*/
  .imgLogo {
    margin-top: 5px;
  }
  
  .shoppingCart {
    width: 28px;
    height: 28px;
    cursor: pointer;
    }
    
    /*Kode fix av Amalie*/
    .shoppingCartButton {
      all: unset;
    }
  
  /* DROPDOWN */
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--mainOrange);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: var(--textWhite);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .header-btns:hover .dropdown-content {
    display: none;
  }
  
  .header-btns:hover .dropdown:hover .dropdown-content {
    display: block;
  }
    
  /* LIGHT AND DARK MODE */
  .mode-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    transition: .4s;
    height: 50px;
  }
  
  .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: .4s;
    content: url('https://api.iconify.design/material-symbols/dark-mode.svg');
  }
  
  .dark-mode .circle {
    transition: .4s;
    content: url('https://api.iconify.design/material-symbols/light-mode.svg');
  }
  
  .dark-mode {
    color: var(--textWhite);
    transition: .4s;
  }
  
  /* HAMBURGEMENY */
  .hamburgerMeny {
    display: none;
    max-height: 150px;
  }
  
  /* MAIN */
  .main_title {
    font-size: 30px;
    text-align: left;
    margin-top: 50px;
    border-bottom: 3px solid var(--mainOrange);
    padding-left: 15px;
  }
  
  /* SPLASH IMG */
  .imgSplash {
    background-repeat: no-repeat;
    background-position: right;
    /* margin-top: -18px; */
    /*max-width: 100vw;
    max-height: 70%;*/
    width: 1550px;
    height: 520px; 
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 4rem;
  }
  
  /* SLIDE TEXT animasjon */
  .anim-1,
  .anim-2,
  .anim-3 {
      position: absolute;
      display: block;
      top: 12.5em;
      width: 20%;
      font-size: 20px;
      animation-duration: 20s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      color: var(--mainBlack);
      font-style: italic;
      font-weight: bold;
  }
  
  .anim-1 {
      animation-name: anim-1-keyframes;
      text-shadow: var(--splashTextShadow);
  }
  
  .anim-2 {
      animation-name: anim-2-keyframes;
      text-shadow: var(--splashTextShadow);
  }
  
  .anim-3 {
      animation-name: anim-3-keyframes;
      text-shadow: var(--splashTextShadow);
  }
  
  @keyframes anim-1-keyframes {
    0%, 8.3% { left: -100%; opacity: 1; }
    8.3%, 25% { left: 5%; opacity: 1; }
    33.33%, 100% { right: 110%; opacity: 0; }
  }
  
  @keyframes anim-2-keyframes {
    0%, 33.33% { left: -100%; opacity: 1; }
    41.63%, 58.29% { left: 5%; opacity: 1; }
    66.66%, 100% { right: 110%; opacity: 0; }
  }
  
  @keyframes anim-3-keyframes {
    0%, 66.66% { left: -100%; opacity: 1; }
    74.96%, 91.62% { left: 5%; opacity: 1; }
    100% { right: 110%; opacity: 0; }
  }
  
  /*DESK IMG*/
  .leftImg {
    height: 330px;
    width: 390px;
    margin-left: 74%;
    margin-top: -50%;
    margin-bottom: 10px;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
    }
  
  /*TEXT STYLING*/
  .infoText {
      margin-left: 2em;
  }
  
  .h1LP {
      padding-top: 20px;
      font-style: italic;
      font-weight: lighter;
      padding-left: 15px;
      text-align: left;
  }
  
  .h3LP {
    font-style: italic;
    font-weight: bold;
    padding-left: 15px;
    text-align: left;
  }
  
  .pLP {
    font-style: italic;
    padding-left: 15px;
    text-align: left;
  }
  
  /* BUTTON */
  .btn {
      display: inline-block;
      position: relative;
      border-radius: 25px;
      background-color: var(--mainOrange);
      border: none;
      color:var(--textWhite);
      text-align: center;
      font-size: 26px;
      padding: 16px;
      width: 220px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 36px;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 7);
  }
  
  .btn:after {
      content: ">>";
      position: absolute;
      opacity: 0;
      transition: 0.5s;
  }
  
  .btn:hover {
     padding-right: 24px;
     padding-left: 8px;
  }
  
  .btn:hover:after {
      opacity: 1;
      right: 10px;
  }
  
  .btnProduct {
    color: var(--textWhite);
  }
  
  /* FOOTER */
  footer {
    background-color: var(--footer);
    color: var(--textWhite);
    padding: 10px 20px;
    text-align: left;
  }
  
  .footer-btns {
    display: flex;
    margin-left: 35px;
  }
  /*Justerte litt på marginen til footer-btns  - Polly*/
  
  .footer-btn {
    text-decoration: none;
    color: var(--textWhite);
    margin-right: 55px;
  } 
  
  
  /*MEDIA QUERIES*/
  /*MQ - Text animation*/
  @media (max-width: 480px) {
  .anim-1,
  .anim-2,
  .anim-3 {
    font-size: 20px;
    width: 88%;
    top: 10.5em;
    position: absolute;
    color: var(--mainBlack);
    text-shadow: var(--splashTextShadow);
  }
  }
  
  @media only screen and (min-width:482px) and (max-width:768px) {
    .anim-1,
    .anim-2,
    .anim-3 {
    font-size: 20px;
    width: 40%;
    top: 11.5em;
    position: absolute;
    color: var(--mainBlack);
    text-shadow: var(--splashTextShadow);
    }
  }
  
  /*NOTE: Amalie I need help here >~< */
  
  /* MQ - MOBIL */
  @media (max-width: 600px) {
  
    .imgSplash {
      width: 400px;
      height: 340px;
      margin-right: -35;
    }
  
    nav {
      width: 380px;
    }
  
    footer {
      /* min-width: 20rem;
      max-width: 26.625rem; */
      width: 100vw;
    }
    
    .footer-btns {
      display: flex;
      flex-direction: column;
    }
  
    .footer-btn {
      margin-top: 20px;
    }
  
    .header-btns {
       flex-direction: column;
    }
  
    .header-icon {
      margin-right: 5px;
    }
  
    .center-icon {
      margin-right: 30px;
    }
    
    .circle {
      display: none;
    }
  
    .leftImg {
      height: 340px;
      width: 140px;
      margin-left: 5%;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
  
  /*MQ - See products button*/
  @media (max-width: 600px) {
      .btn {
          margin-left: 20%;
      }
    }
  
    /*MQ - HAMBURGER MENY */
  @media screen and (max-width: 600px) {
    .hamburgerMeny {
      display: block;
    }
  
    .header-btns {
      display: none;
    }
  }
  
  /* MQ - Tablet */
  @media screen and (max-width:768px) {
    .leftImg {
      height: 340px;
      width: 350px;
      margin-left: 5%;
      margin-right: 15px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  
    .imgSplash {
      max-width: 735px;
      height: 300px;
      margin-right: -35px;
    }
  
    .logoHeader {
      margin-right: 10px;
    }
  
    .circle {
      margin-right: 10px;
    }
  
    .search-box {
      margin-right: 10px;
    }
  
    .shoppingCartButton {
      margin-right: 160px;
    }
  
    footer {
      width: 100vw;
    }
  } 
  
  /* Skal vi ha til laptop og til større skjermer?*/
  
  /* MQ - Laptop */
  @media only screen and (min-width: 992px) {
  
  .imgSplash {
    width: 990px;
    height: 520px; 
  }
  
  .leftImg {
    height: 340px;
    width: 350px;
    margin-left: 660px;
  }
  
  }
  
  /* MQ - Large Laptop */
  @media only screen and (min-width: 1200px) {
  
  .imgSplash {
    width: 1410px;
    height: 520px; 
  }
  
  .leftImg {
    height: 340px;
    width: 350px;
    margin-left: 1070px;
  }
  
  } 